CONFIG_PACKAGE_luci-app-mtwifi-cfg=y
CONFIG_PACKAGE_luci-app-smartdns=y

CONFIG_PACKAGE_default-settings=n
CONFIG_PACKAGE_default-settings-chn=n
CONFIG_DEFAULT_default-settings-chn=n
CONFIG_PACKAGE_luci-i18n-argon-config-zh-cn=n
CONFIG_PACKAGE_luci-i18n-base-en=y
CONFIG_PACKAGE_luci-i18n-firewall-en=y
CONFIG_PACKAGE_luci-i18n-opkg-en=y



CONFIG_PACKAGE_kmod-cfg80211=y
# CONFIG_PACKAGE_kmod-lib80211=y
# CONFIG_PACKAGE_kmod-mac80211=y
# CONFIG_PACKAGE_kmod-mac80211-hwsim=y
# CONFIG_MTK_CFG80211_SUPPORT=y
