CONFIG_PACKAGE_default-settings=n
CONFIG_PACKAGE_default-settings-chn=n
CONFIG_DEFAULT_default-settings-chn=n
CONFIG_PACKAGE_luci-i18n-argon-config-zh-cn=n
CONFIG_PACKAGE_luci-i18n-base-en=y
CONFIG_PACKAGE_luci-i18n-firewall-en=y
CONFIG_PACKAGE_luci-i18n-opkg-en=y

CONFIG_PACKAGE_luci-app-smartdns=y
CONFIG_PACKAGE_kmod-cfg80211=y
